<template name="datosSistema">
<h1><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> DATOS SISTEMA<small>config</small> </h1>
<div style="float:right">
          <button title="Generar Variables" type="button" id="generarVariables" class="btn  btn-xs btn-success" aria-label="Left Align">  <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> GENERAR VARIABLES </button>
 </div>
{{> reactiveTable id="tablaDatosSistema" settings=settings}}

  {{>nuevoDatosSistema}}
</template>
<template name="accionesDatosSistema">
  <div class="acciones" style="display:none">
   <button title="Modificar" type="button" class="update btn  btn-xs btn-primary" aria-label="Left Align">  <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> </button>
   <button title="Quitar" type="button" class="delete btn  btn-xs btn-danger" aria-label="Left Align">  <span class="glyphicon glyphicon-minus" aria-hidden="true"></span> </button>
      
  </div>
</template>
<template name='modificarDatosSistema'>
<h1><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> EDITAR <small> configuracion</small></h1>
  {{#autoForm collection="Settings" id="modificarDatosSistema_" doc=this type="update"}}

  <div class='col-md-6'>
     <fieldset>
       {{> afQuickField name="clave" }}
       {{> afQuickField name="valor" }}
    </fieldset>

  </div>
<button type="submit" id="btnAceptar" style="width:100%" class="btn btn-primary"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> MODIFICAR</button>
      {{/autoForm}}

</template>
<template name='nuevoDatosSistema'>
<h1><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> NUEVA <small> configuracion</small></h1>
{{#autoForm collection="Settings" id="nuevaConfiguracionSistema_" type="insert"}}

  <div class='col-md-6'>
     <fieldset>
       {{> afQuickField name="clave" }}
       {{> afQuickField name="valor" }}
    </fieldset>
    
  </div>
<button type="submit" id="btnAceptar" style="width:100%" class="btn btn-primary"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> ACEPTAR</button>
      {{/autoForm}}

</template>