 <template name="inicio">
   <div class="jumbotron col-md-7">
  <h1>Sistema VEKAR LOTES!</h1>
  <p>
    <a class="btn btn-primary btn-lg" href="/nuevoPago" role="button"><span class="glyphicon glyphicon-usd" aria-hidden="true"></span> NUEVO PAGO</a> 
    <a class="btn btn-primary btn-lg" href="/lotes" role="button"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> LOTES</a> 
    
    </p>
     <p>
    <a class="btn btn-primary btn-lg" href="/nuevoStock" role="button"><span class="glyphicon glyphicon-gift" aria-hidden="true"></span> STOCKEAR PRODUCTOS</a>
     </p>
</div>
  <div style="float:right" class="col-md-4">
   
   </div>
  </template>